* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5E2;
}

.page-container {
  width: 50%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

header {
  height: 100px;
  background-color: #FDBB40;
  position: relative;
  padding: 30px 40px 20px;
}

header img {
  width: 230px;
  position: absolute;
  right: -100px;
  top: -50px;
}

main {
  padding: 20px 40px;
}

.burger-name {
  height: 60px;
  display: flex;
  align-items: center;
}

#input-burger-name {
  border: 0;
  font-size: 20px;
  outline: none;
}

.lista-ingredienti {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lista-ingredienti li {
  list-style: none;
  width: 40%;
  height: 40px;
  margin-top: 20px;
}

.lista-ingredienti li label {
display: flex;
align-items: center;
}

.lista-ingredienti label:hover {
  cursor: pointer;
}

.lista-ingredienti li img {
  width: 30px;
  margin-right: 20px;
}

.lista-ingredienti li input {
  margin-left: 10px;
}

.discount {
  margin: 30px 0;
}

#coupon {
  background-color: #FFF5E2;
  outline: none;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  height: 20px;
  width: 40%;
}

.bottone-calcolatore {
  display: flex;
  justify-content: center;
}

.bottone-calcolatore button {
  padding: 10px 20px;
  background-color: #FDBB40;
  border-radius: 5px;
  outline: none;
  border: none;
}

.bottone-calcolatore button:active {
  outline: none;
}

.bottone-calcolatore button:hover {
  cursor: pointer;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #FDBB40;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
